## Bank Statement - IMAGE

##### Mandiri 5 10.jpg

In [1]:
from img2table.document import Image
from img2table.ocr import DocTR
import pandas as pd

file = Image("sample/image/Mandiri 5 10.jpg")

ocr = DocTR(kw={"pretrained": True})

tables = file.extract_tables(ocr=ocr, borderless_tables=True, min_confidence=50).copy()

c:\Users\Azer\miniconda3\envs\test_img2table\lib\site-packages\tqdm\auto.py:21: TqdmWarning: IProgress not found. Please update jupyter and ipywidgets. See https://ipywidgets.readthedocs.io/en/stable/user_install.html
  from .autonotebook import tqdm as notebook_tqdm
WARNING:tensorflow:From c:\Users\Azer\miniconda3\envs\test_img2table\lib\site-packages\keras\src\losses.py:2976: The name tf.losses.sparse_softmax_cross_entropy is deprecated. Please use tf.compat.v1.losses.sparse_softmax_cross_entropy instead.

WARNING:tensorflow:From C:\Users\Azer\AppData\Roaming\Python\Python310\site-packages\tf2onnx\tf_loader.py:68: The name tf.reset_default_graph is deprecated. Please use tf.compat.v1.reset_default_graph instead.

WARNING:tensorflow:From C:\Users\Azer\AppData\Roaming\Python\Python310\site-packages\tf2onnx\tf_loader.py:72: The name tf.train.import_meta_graph is deprecated. Please use tf.compat.v1.train.import_meta_graph instead.

WARNING:tensorflow:From c:\Users\Azer\miniconda3\envs\test_img2table\lib\site-packages\keras\src\backend.py:873: The name tf.get_default_graph is deprecated. Please use tf.compat.v1.get_default_graph instead.

WARNING:tensorflow:From c:\Users\Azer\miniconda3\envs\test_img2table\lib\site-packages\keras\src\layers\normalization\batch_normalization.py:979: The name tf.nn.fused_batch_norm is deprecated. Please use tf.compat.v1.nn.fused_batch_norm instead.

c:\Users\Azer\miniconda3\envs\test_img2table\lib\site-packages\img2table\tables\processing\bordered_tables\cells\identification.py:17: PerformanceWarning: Determining the column names of a LazyFrame requires resolving its schema, which is a potentially expensive operation. Use `LazyFrame.collect_schema().names()` to get the column names without this warning.
  .rename({col: f"{col}_" for col in df_h_lines.columns})
c:\Users\Azer\miniconda3\envs\test_img2table\lib\site-packages\img2table\tables\processing\bordered_tables\cells\deduplication.py:21: PerformanceWarning: Determining the column names of a LazyFrame requires resolving its schema, which is a potentially expensive operation. Use `LazyFrame.collect_schema().names()` to get the column names without this warning.
  .rename({col: f"{col}_" for col in df_cells.columns})

In [2]:
tables

[ExtractedTable(title=Rekening Koran
 (Account Statement), bbox=(112, 869, 1279, 1016),shape=(3, 3)),
 ExtractedTable(title=Date & Time Value Date Reference No. Debit Balance
 Credit, bbox=(167, 1309, 2319, 2887),shape=(50, 7))]

In [4]:
result = tables[1].df.fillna("")
result

,0,1,2,3,4,5,6
0,20/04/2022,20/04/2022,NOTA NO 121345TGL 23 MAR 2022,,0.00,"114,300.00","771,258,364.78"
1,09:15:52,,Setor Tunai 13917,,,,
2,20/04/2022,20/04/2022,NOTA NO 4472511223 TGL 24/3/2022,,0.00,"604,000.00","771,862,364.78"
3,09:16:58,,Setor Tunai 13917,,,,
4,20/04/2022,20/04/2022,NOTA NO 447-2512482 TGL 25/3/2022,,0.00,"1,097,000.00","772,959,364.78"
5,09:17:59,,Setor Tunai 13917,,,,
6,20/04/2022,20/04/2022,15000260642022 15000260642022,15000260642022,0.00,"3,515,200. 00","776,474,564.78"
7,10:05:25,,15000260642022 MCM InhouseTrf,,,,
8,,,DARI OTORITAS JASA,,,,
9,,,KEUANGAN99102,,,,
10,20/04/2022,20/04/2022,RORO AMBARWATI 153,,0.00,"177,800.00","776,652,364.78"
11,10:45:20,,13904,,,,
12,20/04 20 022,20/04/20 022,VZ01 15-03-2022 4 VZ01 15-03-,15-03-2022_4,0.00,"253,605.0 .00","776,905,969.78"
13,11:20:37,,2022_4 VZ01 15-03-2022 4 MCM,,,,
14,,,InhouseTrf DARI SUMBER ALFARIA,,,,
15,,,TRIJAYA99102,,,,
16,20/04/2022,20/04/ 20 022,122 VZ01_07-03-,,0.00,"1,927,398.00","778,833,367.78"
17,11:20:37,,2022_122 VZ01 07-03-2022 122 MCM,,,,
18,,,InhouseTrf DARI SUMBERA ALFARIA,,,,
19,,,TRIJAYA99102,,,,
20,20/04/2022,20/04/2022,VZ01_ 08-03-2022_39 VZ01 08-03-,VZ01_08-03-2022.39,0.00,"3,990,052. 00","782,823,419.78"
21,11:20:37,,2022_39 VZO1 08-03-2022 39 MCM,,,,
22,,,InhouseTrf DARI SUMBER ALFARIA,,,,
23,,,TRIJAYA99102,,,,
24,20/04/2022,20/04/2022,VZ01_ 18-03-2022_1 10 18-03-,,0.00,"4,903,030.00","787,726,449.78"
25,11:20:37,,2022_10 VZ01 18-03-2022 10 MCM,,,,
26,,,InhouseTrf DARI SUMBER ALFARIA,,,,
27,,,TRIJAYA99102,,,,
28,20/04/2022,20/04/2022,VZ01_08-03-2022 44 VZO1 08-03-,VZ01_08-03-2022.44,0.00,"7,405,266.00","795,131,715.78"
29,11:20:37,,2022_44 VZ01 08-03-2022 44 MCM,,,,
30,,,InhouseTrf DARI SUMBER ALFARIA,,,,
31,,,TRIJAYA99102,,,,
32,20/04/2022,20/04/2022,VZ01_17-03-,VZ01_17-03-2022_10,0.00,"8,453,500.00","803,585,215.78"
33,11:20:37,,2022_10 VZ01_ 17-03-2022 10 MCM,,,,
34,,,InhouseTrf DARI SUMBER ALFARIA,,,,
35,,,TRIJAYA99102,,,,
36,20/04/2022,20/04/2022,VZ01 08-03-2022_ 36 08-03-,,0.00,"8,605,663. .00","812,190,878.78"
37,11:20:37,,2022_36 VZ01 08-03-2022 36 MCM,,,,
38,,,InhouseTrf DARI SUMBER ALFARIA,,,,
39,,,TRIJAYA99102,,,,
40,20/04/2022,20/04/2022,VZ01_08-03-2022 41 VZ01_ 08-03-,,0.00,"9,636,990.00","821,827,868.78"
41,11:20:37,,2022_41 VZ01 08-03-2022 41 MCM,,,,
42,,,InhouseTrf DARI SUMBER ALFARIA,,,,
43,,,TRIJAYA99102,,,,
44,20/04/2022,20/04/2022,VZ01 15-03-2022 17 VZ01 15-03,,0.00,"11,546,969.00","833,374,837.78"
45,11:20:37,,2022_17 VZ01 15-03-2022 17 MCM,,,,
46,,,InhouseTrf DARI SUMBER ALFARIA,,,,
47,,,TRIJAYA99102,,,,
48,20/04/2022,20/04/2022,VZ01_17-03-2022. 4 17-03-,VZ01.17-03-2022.4,0.00,"11,767,272.00","845,142,109.78"
49,11:20:37,,2022_4 VZ01_17-03-2022 4 MCM,,,,